<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;databaseName=ShoppingDB"></property>
		<property name="username" value="sa"></property>
		<property name="password" value="sa"></property>
	</bean>

	<bean id="UserDAO" class="com.funix10207.dao.UserDAO">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="ProductDAO" class="com.funix10207.dao.ProductDAO">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
</beans>